
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
h2{color:#ffff}
/* body {
  background-image: url('https://i.pinimg.com/originals/82/0c/98/820c981247cc8be38e2bc3c433fc77f4.jpg');
} */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
}

.container .content {
  position: center;
  top: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.alert{
  color:lightgreen;
  background: #00000000;
  background: rgba(0, 0, 0, 0.7);
  width: 600px;
  cursor: auto;
}
</style>
<script>
</script>
</head>
<body>
{{eloggedin}}
  {{#if msg}}
<div class="alert alert-success alert-dismissible">
  <a style="color:white; float:right;" href="#" data-dismiss="alert">&times;</a>
  {{msg}}</div>{{/if}}
<div class="container">
<div class="content">
    <h2>Select asset what do you want to transfer:</h2>
    <form action="/raisemptransferreq" method="Post">
  <div class="form-group">
    <div class="row">
    <div class="col-md-4 col-md-offset-0">
  <input type="hidden" class="form-control" id="empidid" value="{{eloggedin}}" name="elogid" required>
  <label class="txt" for="text">Choose Asset:</label>
  <select class="form-control" placeholder="dropdown"  id="assetidid" name="assetid" required>
           <option disabled>select asset</option>
           {{#each data}}
           <option value="{{this.asset_id}}">{{this.assetname}}({{this.asset_id}})</option>
           {{/each}}

  </select></div></div></div>
  <div class="form-group">
    <div class="row">
    <div class="col-md-4 col-md-offset-0">
  <label for="text">Enter employee id who do you want to transfer:</label>
  <input type="text" class="form-control" id="tid" placeholder="enter name" name="transid"required>
  </div></div></div>
<button type="submit" class="btn btn-primary">RaiseRequest</button>
     </form>
     </div>
     </div>
</body>
</html>
